body, html {
    height: 100%;
}

header {
    color: blanchedalmond;
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    background-image: url(chip.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.navbar ul{
    padding: 0;
    list-style: none;
    margin: 0;  
}
.navbar li{
    display: inline-block;
}
.navbar a{
        text-align: center;
        text-decoration: none;
        color: blanchedalmond;
        width: 100px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    }